* {
    box-sizing: border-box;
}

.carousel {
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    background-color: white;
}

.heading_form {
    text-align: center;
    color: white;
    font-size: 2rem;
}

/*Commentbox*/

.form-group {
    width: 100%;
    margin: 0 auto;
    color: #95c623;
    border: #95C623;
    border-radius: 7px;
    padding-top: 40px;
    margin-left: 4px;
}



.form-control {

    width: 500px;
    border-radius: 6px;
    border-color: #95C623;

}

.application {
    width: 650px;
    text-align: right;

}

#submit {
    position: relative;
    text-align: right;
    background-color: #95C623;
    color: #fff;
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 2px;
    size: 5px;

}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 0 4px;

}

.column img {
    margin-top: 15px;
    max-width: 100%;
    vertical-align: middle;
}

.button {
    position: relative;
    padding: 5px;
}

iframe {
    border: 2px solid #0000FF;
    border-radius: 30px;
    box-sizing: border-box;
}

body {
    max-width: width 400px;
    font-family: hind siliguri;
    color: red;
    background-color: #121212;
}

html {
    scroll-behavior: smooth;
}

.illustratie_geel {
    width: 20%;
    margin-bottom: -18em;
    margin-left: 23em;
}


.image_middle {
    width: 100;
    margin-top: -3em;
}

.illustratie_blauw2 {
    width: 30%;
    margin-bottom: -30em;
    margin-left: 21em;

}

::-webkit-scrollbar {
    width: 10px;
    max-height: 30%;
    height: 30%;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #FFDD06;
    border-radius: 10px;

}

strong {
    color: #FF7BAC;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

img {
    max-width: 100%;
}

.section1 {
    background-color: white;
    min-height: 200px;
    padding-top: 30px;
    margin-top: -30px;
    margin-bottom: -8em;
    padding-bottom: 12em;
}

.image-wrapper {
    margin-top: -6em;
}

.section2 {
    min-height: 200px;
    margin-top: -20em;
    margin-bottom: 20px;
}

.text-horizontal {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.text-right {
    margin-left: 1em;
    width: 20em;
}

.section3 {
    min-height: 200px;
    margin-top: -4em;
    margin-bottom: -7em;
}

.section3-horizontal {
    display: flex;
    justify-content: space-between;
}

.section3-horizontal-right {
    padding-top: 3.5em;
}

.section4-image {
    width: 50%;
    margin-top: 7em;
    margin-left: 4.7em;
}



.section4 {
    min-height: 200px;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: white;
    width: 100%;
}


.section4-horizontal {
    display: flex;
    justify-content: space-between;
    margin-top: -9em;
}

.section5 {
    min-height: 200px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.section5-top {
    display: flex;
    justify-content: space-between;
}

.section5-top-text {
    margin-right: 2em;
}

.section5-bottom {
    margin-top: -2em;
}

.foto_jongeren {
    max-width: 70%;
    padding: 0px;
}

.foto_lea {
    width: 100%;
}

.section6 {
    min-width: 200px;
    padding-top: 1em;
    padding-bottom: 2em;
    background-color: white;
}

.section6-top {
    display: flex;
    justify-content: space-between;
}

.section6-bottom {
    display: block;
    text-align: left;
}

.section6-bottom-img {
    width: 100%;
    text-align: center;
}

.section5-top-image {
    text-align: center;
}

.section6-top-image {
    width: 40%;
}

.section6-bottom-text p {
    color: black;
}

.section6-bottom-text {
    margin-top: -2em;

}




.nav {
    display: inline-block;
    text-align: center;
}


.nav ul li a {
    text-decoration: none;
}

.nav-links ul li {
    display: flex;
}

.wrapper {
    max-width: 350px;
    margin: 0 auto;
}


#logo_nav {
    width: 30%;
}

.heading-2 {
    color: white;
    font-size: 1.5rem;
    font-family: hind siliguri;
}

.heading-3 {
    color: black;
    font-size: 1rem;
}

.heading-3-w {
    color: white;
    font-size: 1rem;
}

.text-normal {
    color: white;
    font-size: 0.7rem;
    /*background-color: red;*/
    max-width: 14em;
    font-weight: lighter;
}

.text-normal-b {
    color: black;
    font-size: 0.7rem;
    /*background-color: red;*/
    max-width: 14em;
    font-weight: lighter;
}

p {
    color: white;
    font-weight: lighter;
    font-size: 0.7rem;
    text-align: left;
}

.kaas {
    display: none;
}

@media(min-width:700px) {
    body {
        max-width: 100%;
    }

    .wrapper {
        max-width: 1000px;
    }

    .text-normal,
    .text-normal-b {
        font-size: 1.2rem;
        max-width: 20em;
    }

    p {
        font-size: 1.2rem;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        font-family: hind siliguri;

    }

    .nav img {
        margin-left: 15px;
        width: 10px;
    }



    .nav-links {
        flex: 1;
        text-align: center;
        margin-top: none;
    }

    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;

    }

    .nav-links ul li a {
        /*navigatie woorden*/
        color: #fff;
        text-decoration: none;
        font-size: 17.5px;
    }

    .nav-links ul li::after {
        /*kleur onder de nav links*/
        content: '';
        width: 0%;
        height: 2px;
        background: #FFDD06;
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    .nav-links ul li:hover::after {
        width: 100%;
    }

    /*navigatiebar css*/

    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }



    header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transition: background-color .5s ease;
        z-index: 1000;
    }

    .container {
        width: 100%;
        max-width: 120rem;
        margin-left: 40em;
        padding: 0 1.5rem;

    }

    .nav {
        width: 100%;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: height .75s ease;
        margin-left: 10px;
        font-size: 1em;
    }



    .nav a {
        text-decoration: none;
        color: white;
        font-size: 1em;
        text-align: center;
        font-family: hind siliguri;
        font-style: normal;
    }



    .nav-list {
        list-style: none;
        display: flex;
        margin-right: auto;
        margin-left: 4rem;

    }

    .nav-link {
        margin: 0 2rem;
        position: relative;

    }

    .nav-link::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #FFDD06;
        position: absolute;
        left: 0;
        bottom: -3px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .5s ease;

    }

    .nav-link:hover::after {
        transform: scaleX(1);
    }



    /*Apply styles after scroll*/
    .scrolling-active {
        background-color: #000000;
        box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
        height: 3;

    }

    .scrolling-active .nav {
        height: 5rem;
        margin-left: -40em;

    }

    .scrolling-active .nav a {
        color: white;
    }

    #logo_nav {
        display: none;
    }

    .scrolling-active #logo_nav {
        width: 10%;
        display: flex
    }


    .scrolling-active .nav-link::after {
        background-color: #FFDD06;
    }

    .section1 .wrapper {
        padding-top: 7em;
    }

    .image-wrapper img {
        margin-top: -7em;

    }

    .heading-2 {
        color: white;
        font-size: 3rem;
        font-family: hind siliguri;
    }

    .heading-3-w {
        color: white;
        font-size: 2rem;
    }

    .heading-3 {
        color: black;
        font-size: 2rem;
    }

    .section2 {
        margin-top: -33em;
    }

    .text-top {
        margin-bottom: 2em;
    }

    .text-right {
        margin-top: 5em;
        width: 30em;
    }

    .section4-horizontal {
        display: flex;
        justify-content: space-between;
        margin-top: -18em;
    }

    .section4-image {
        text-align: center;
    }

    .image4 {
        margin-left: 9em;
        margin-top: 9em;
    }

    .section4 {
        margin-top: -20em;
    }

    .illustratie_geel {
        width: 20%;
        margin-bottom: -45em;
        margin-left: 70em;
    }



    .illustratie_blauw2 {
        width: 30%;
        margin-bottom: -77em;
        margin-left: 60em;

    }

    .carousel {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    iframe {
        width: 1000px;
        height: 600px;
        border: 4px solid #0000FF;
        border-radius: 30px;
        box-sizing: border-box;
    }

    .image_middle {
        width: 100;
        margin-top: -9em;
    }

    .section6-bottom-text {
        margin-top: -15em;
        max-width: 50em;
    }

    .section5-bottom {
        margin-top: -7em;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
        background-color: white;
    }

    /* Create two equal columns that sits next to each other */
    .column {
        flex: 50%;
        padding: 0 4px;

    }

    .column img {
        margin-top: 15px;
        max-width: 100%;
        vertical-align: middle;
    }

    .button {
        position: relative;
        padding: 5px;
    }

    /*Commentbox*/

    .form-group {
        width: 650px;
        margin: 0 auto;
        color: #95c623;
        border: #95C623;
        border-radius: 7px;
        padding-top: 40px;
        margin-left: 400px;
    }



    .form-control {

        width: 400px;
        border-radius: 6px;
        border-color: #95C623;

    }

    .application {
        width: 650px;
        text-align: right;

    }

    #submit {
        position: relative;
        text-align: right;
        background-color: #95C623;
        color: #fff;
        border-radius: 10px;
        padding: 3px;
        margin-bottom: 20px;
        size: 50px;

    }

    .kaas {
        display: flex;
        width: 100%;
    }

    .kaas img {
        width: 80%;
        margin-top: 14em;
        position: absolute;
        z-index: 2;
        padding-left: 20em;
    }
}