@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');



html {
    scroll-behavior: smooth;

}

body {
    margin: 0;
    overflow-x: hidden;
}

.nav-links {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: hsl(0, 0%, 10%, 0.65);
    border-radius: 0%;
    z-index: +1;
}

h1,
h3,
nav {
    font-family: hind siliguri;
}


p {
    font-family: outfit;
}




* div p {
    font-weight: bold;
}

/***************** 
HEADER
******************/

.header {
    min-height: 25vh;
    width: 100%;
    /*background-color: #15284B;*/
    background-position: center;
    background-size: cover;
    position: relative;
}


.header {
    min-height: 100vh;
    /*background-image: linear-gradient(rgba(66, 66, 66, 0.5), rgba(1, 1, 1, 0.7)), url(/images/header.jpeg);*/
}



nav {
    display: flex;
    justify-content: space-between;



}

.nav-links {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: hsl(0, 0%, 10%, 0.65);
    border-radius: 0%;
    z-index: +1;
}



::-webkit-scrollbar {
    width: 10px;
    max-height: 30%;
    height: 30%;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #F27F0C;
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;

}

h1,
h3,
nav {
    font-family: hind siliguri;
}


p {
    font-family: outfit;
}


* div,
a {
    border-radius: 10px;
}

* div p {
    font-weight: bold;
}

/***************** 
HEADER
******************/

.header {
    min-height: 25vh;
    width: 100%;
    /*background-color: #15284B;*/
    background-position: center;
    background-size: cover;
    position: relative;
}


.header {
    min-height: 100vh;
    /*background-image: linear-gradient(rgba(66, 66, 66, 0.5), rgba(1, 1, 1, 0.7)), url(/images/header.jpeg);*/
}



nav {
    display: flex;
    justify-content: space-between;

}



nav img {
    width: 300px;
    margin-left: 15x;
}

.nav-links {
    flex: 1;
    text-align: center;
    margin-top: none;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a {
    /*navigatie woorden*/
    color: #fff;
    text-decoration: none;
    font-size: 17.5px;
}

.nav-links ul li::after {
    /*kleur onder de nav links*/
    content: '';
    width: 0%;
    height: 2px;
    background: #F27F0C;
    background: #95C623;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1,
h3 {
    font-size: 24pt;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.text-box h1 strong {
    color: transparent;
    -webkit-text-stroke: 0.1px #F27F0C;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 24pt;
    color: #fff;
}

.text-box img {
    width: 450px;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #F27F0C;
    border: 1px solid #F27F0C;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #F27F0C;
    background: #fff;
    transition: 1s;
}

nav .fa {
    display: none;

}

/*projecten*/

.content {
    width: 80%;
    margin: auto;
    text-align: center;
    color: #F27F0C;
    margin-top: 200px;
}

.row {
    display: flex;
}

.popular-col {
    flex-basis: 100%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.popular-col img {
    width: 100%;
    border: 1px solid #F27F0C;
    box-sizing: border-box;
    box-shadow: none;
}

.text-layer {
    text-align: left;
    margin-left: 20px;
    background: transparent;
    height: 50%;
    width: 45%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.text-layer p {
    width: 100%;
    color: #fff;
    font-size: 12pt;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.text-layer:hover p {
    bottom: 40%;
    opacity: 1;
    cursor: default;
}

#over-circuit {
    width: 90%;
    margin: auto;
}


.block-img {
    width: 50%;
    margin-right: 1px;
}


.block-img img {
    width: 450px;
    box-shadow: 20px 20px 10px gray;
}

.block-text {
    margin: 20px;
    margin-top: 0px;
}

.block {
    display: flex;
}

.block2 {
    display: flex;
    flex-direction: row-reverse;
}

.kaart {
    display: flex;

}


.footer img {
    width: 100%;
}


.kaart img {
    border: 2px solid gray;
    box-shadow: none;
}

div {
    display: inline-block;
}

.een p {
    margin-left: 300px;
}

div p {
    margin-top: 20px;
    color: #15284B;
    text-align: left;
}

.wat-doen-we {
    display: inline-block;
    text-align: left;
}

.wat-doen-we p {
    margin-right: 200px;
}




@media(max-width: 700px) {

    nav img {
        width: 75px;
    }

    .row {
        flex-direction: column;
    }

    #page_properties {
        width: 70%;
    }

    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #C1B55E;
        height: 100vh;
        margin-top: 0;
        width: 200px;
        right: -20px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: inline-block;
        color: #fff;
        margin: 5px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
        margin-top: 0;
    }


}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

* {
    box-sizing: border-box;
}


.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1920px;
    min-width: 1080px;
    position: absolute;
    margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 6s ease;
}



/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
.wie-zijn-we img {
    width: 50%;
    margin-right: 1px;
}


.block-img img {
    width: 450px;
    box-shadow: 20px 20px 10px gray;
}

.block-text {
    margin: 20px;
    margin-top: 0px;
}

.block {
    display: flex;
}

.block2 {
    display: flex;
    flex-direction: row-reverse;
}

.kaart {
    display: flex;

}


.footer img {
    width: 100%;
}


.kaart img {
    border: 2px solid gray;
    box-shadow: none;
}

div {
    display: inline-block;
}

.een p {
    margin-left: 300px;
}

div p {
    margin-top: 20px;
    color: #15284B;
    text-align: left;
}

.wat-doen-we {
    display: inline-block;
    text-align: left;
}

.wat-doen-we p {
    margin-right: 200px;
}




@media(max-width: 700px) {

    nav img {
        width: 75px;
    }

    .row {
        flex-direction: column;
    }

    #page_properties {
        width: 70%;
    }

    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #C1B55E;
        height: 100vh;
        margin-top: 0;
        width: 200px;
        right: -20px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: inline-block;
        color: #fff;
        margin: 5px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
        margin-top: 0;
    }


}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

* {
    box-sizing: border-box;
}


.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: auto;
    min-width: 1080px;
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 6s ease;
}



/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

.over-circuit {
    background-color: #95C623;
    width: 100%;
    height: 40px;
    position: relative;
    font-size: 11px;
    margin: 0;
    padding: 0;
}

.over-circuit h1 {
    color: #002626;
    font-size: 24px;
    margin: 0;
    padding: 0;

}       }
